<h1>Please set your new password below: </h1>


<%= form_for @user, url: update_password_passwords_path do |u| %>
  <br>
  <div>
    <%= u.label :email%>
    <%= u.text_field :email%>
  </div>
  <div>
    <%= u.label :password%>
    <%= u.password_field :password%>
  </div>
  <br>
  <div>
    <%= u.label :password_confirmation%>
    <%= u.password_field :password_confirmation%>
  </div>
  <br>
  <div>
    <%= u.submit %>
  </div>
  <%end%>
