<%= @product.errors.full_messages.join(", ")%>

<%= form_for  @product do |f| %>
  <div>
    <%=f.label :title %>
    <%=f.text_field :title %>
  </div>
  <div>
    <%=f.label :description %>
    <%=f.text_area :description %>
  </div>
  <div>
    <%=f.label :due_date %>
    <%=f.text_area :due_date %>
  </div>
  <br>
  <br>
  <%= f.submit btn_label %>
<% end %>
